.sub-text{
    width: 50%;
}
.sub-text > img {
    width: 100%;
}
.sb{
    justify-content: space-between;
}
.form-container{
    width: 44%;
    padding: 2%;
    background: white;
    box-shadow: 2px white;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px 4px rgba(88,88,88,0.33);
    box-shadow: 4px 4px 10px 4px rgba(88,88,88,0.33);
    display: flex;
    flex-wrap: wrap;
}
form {
    display: flex;
    flex-wrap: wrap;
}
.form-controller-50{
    width: 50%;
    display: flex;
}
.form-controller-100{
    width: 100%;
}

.width-99{
    width: 99%;
}

.firstname{
    margin: auto 1% 10px auto;
}

.lastname{
    margin: auto auto 10px 1%;
}

input, select, textarea {
    padding: 5px;
    font-family: 'Poppins';
    outline: none;
    border: none;
    background: #F8F8F8;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #0F57FB;
}

textarea {
    width: 98%;
    margin-bottom: 10px;
}

select {
    width: 100%;
    margin-bottom: 10px;
}

input[type=submit]{
    width: 30%;
    background: #0F57FB;
    color: white;
    height: 34px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto 0;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
}

input[type=submit]:hover{
    transform: scale(1.025);
    cursor: pointer;
}

.card-container{
    margin-bottom: 15px;
}

@media only screen and (max-width:760px){
    .card-container{
        display: block;
    }
    .sub-text{
        width: 100%;
    }
    .form-container{
        width: 96%;
    }
    .firstname, .lastname, .form-controller-100{
        margin: 10px;
    }
}

@media only screen and (max-width:480px){

}