/* Style sheet created by: Group(Tanej, Karthik, Saichand, Umanga, Yuzan) */
/*Styles specific to contact page*/

/*styles for text*/
.sub-text {
    width: 50%;
}
/*styles for image in sub-text*/
.sub-text > img {
    width: 100%;
}

/*styles for common flex model*/
.sb {
    justify-content: space-between;
}

/*styles for form container*/
.form-container {
    width: 44%;
    padding: 2%;
    background: #FFFFFF;
    box-shadow: 2px 2px #FFFFFF;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 4px rgba(88,88,88,0.33);
    display: flex;
    flex-wrap: wrap;
}

/*styles for form*/
form {
    display: flex;
    flex-wrap: wrap;
}

/*styles for form elements*/
.form-controller-50 {
    width: 50%;
    display: flex;
}

/*styles for form elements*/
.form-controller-100{
    width: 100%;
}

/*styles for form elements*/
.width-99{
    width: 99%;
}

/*styles for form elements*/
.firstname{
    margin: auto 1% 10px auto;
}

/*styles for form elements*/
.lastname{
    margin: auto auto 10px 1%;
}

/*styles for form elements*/
input, select, textarea {
    padding: 5px;
    font-family: 'Poppins';
    outline: none;
    border: none;
    background: #F8F8F8;
}

/*styles for focus effect for form elements*/
input:focus, select:focus, textarea:focus {
    border: 1px solid #0F57FB;
}

/*styles for textarea form elements*/
textarea {
    width: 98%;
    margin-bottom: 10px;
}

/*styles for select form elements*/
select {
    width: 100%;
    margin-bottom: 10px;
}

/*styles for input form elements*/
input[type=submit] {
    width: 30%;
    background: #0F57FB;
    color: white;
    height: 34px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto 0;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
}

/*styles for hover effect on input form elements*/
input[type=submit]:hover {
    transform: scale(1.025);
    cursor: pointer;
}


/*styles for card container*/
.card-container {
    margin-bottom: 15px;
}

/*styles for tablet*/
@media only screen and (max-width:760px){
    .card-container{
        display: block;
    }
    .sub-text{
        width: 100%;
    }
    .form-container{
        width: 96%;
    }
    .firstname, .lastname, .form-controller-100{
        margin: 10px;
    }
}